.login{
    width: 100%;
    height: 100%;
    background-image: url('./images/home.jpeg');
    background-size: 100% 100%;
}

.login-section{
    position: relative;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background:url('./images/home.jpeg') no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.login-section .login-container{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.login-section .login-container .login-user{
    position: absolute;
    top: 0;
    left: 45%;
    width: 55%;
    height: 100%;
    padding-right: 50px;
    padding-top: 120px;
}

.login-section .login-container .login-img{
    position: relative;
    width: 45%;
    height: 100%;
}
.login-section .login-container .login-user h2{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    width: 100%;
    margin-bottom: 10px;
    color: #555;


}
.login-section .login-container .login-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}